/* scss/siteColors/_colors.scss */

body.single-product {
  padding-top: 149px;

  &:before {
    content: "";
    height: 149px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #2f3e43;
    position: absolute;
  }
  .product {
    max-width: 1200px;
    margin: auto;
    padding: 100px 15px;
  }
  div.product form.cart div.quantity {
    display: block;
    float: none;
    margin-bottom: 10px;
  }
}

.woocommerce {
  max-width: 1200px;
  margin: auto;
  padding: 100px 15px;
}